/* HTML */
html {
    font-size: 16px;
    font-family: sans-serif;
}
body {
    background-color: #e8f9ff;
}
/* @GLOBAL */
header,main,footer{
    display: flex;
    justify-content: center;
}
#header,#main,#footer{
    flex-basis: 1366px;
    padding: 1rem;
}
/* @HEADER */
header {

}
#header{

}
/* ARTICLE => Logo / Nav */
article.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.logo {
}
nav {
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
}
a {
    color: black;
    text-decoration: none;
    font-size: 1.125rem;
    text-transform: capitalize;
}
.banner {
    width: 100%;
}
/* BANNER con solo CSS */
div.banner{
    /* tontorron */
    background-image: url(./img/banner_inicio.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom center;
}

/* @FOOTER */
footer {
    background-color: #647378;
    color: white;
}
footer a{
    color: white;
}
#footer{
    display: flex;
}
.izq {
    flex-grow: 1;
    display: flex;
}
ul {
    list-style-type: none;
    flex-basis: 50%;
}
.redes_sociales{
    padding: 0;
}
li {
    margin-bottom: 1rem;
}
.titulo {
    font-size: 1.125rem;
    font-weight: bolder;
}
.der {
    flex-grow: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}





