/* @GLOBAL */
header,main,footer{
    display: flex;
    justify-content: center;
}
#header, #main, #footer{
    flex-basis: 1920px;
    padding: 1rem;
}
/* ************************** */

/* @PADRES */
html{
    font-size: 16px;
    font-family: sans-serif;
}
body{
    background-color: #E8F9FF;
}

/* @HEADER */
header{
}
#header{
    display: flex;
}
/* @MAIN */
main{
}
#main{

}
/* @FOOTER */
footer{
    background-color: #647378;
}
#footer{

}